<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Dojo Tweets Dashboard</title>
</head>
<body class="container">
    <header>
        <h4>Dojo Tweets </h1>
        <div class="right_corner">
            <h4>Welcome, {{session['userid']}}</h4>
            <a href="/logout">Log out</a>
        </div>
    </header>
    <main >
        <h3>Write a tweet </h3>
        <form class="tweet">
                <textarea name="tweet" placeholder="What's on your mind?" id="styled"></textarea>
                <button type='submit'>Tweet</button>
        </form>
    </main>
    <div class="tweets">
        <h3>Your feed</h3>

        <div class="card">
                <div class="container">
                  <h4><b>Jane Doe says:</b></h4> 
                  <p>Interior Designer Interior Designer Interior Designer Interior Designer</p> 
                </div>
        </div>
    </div>
 
</body>

</html>