<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <h2>Login into your DojoTweet account</h2>
        <form action="/login" method="POST">
            <div class="form-group">
              <label >Email address</label>
              <input type="email" name="email" class="form-control"  placeholder="Enter email">
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control"  placeholder="Password">
              {% with psw_error = get_flashed_messages(category_filter=["password_error"]) %}
              {% if psw_error %}
                  {%- for msg in psw_error %}
                  <small  id="password_help" class="form-text text-muted">{{ msg }}</small>
                  {% endfor %}
              {% endif %}
          {% endwith%}
              <small hidden id="password_help" class="form-text text-muted">Password should be more than 5 characters and contain at least one special character, one upper letter case and one number.</small>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            {% with login_error = get_flashed_messages(category_filter=["login_error"]) %}
            {% if login_error %}
                {%- for msg in login_error %}
                <small  id="password_help" class="form-text text-muted">{{ msg }}</small>
                {% endfor %}
            {% endif %}
        {% endwith%}
          </form>
          <div class="sign_up">
            <h4>New to DojoTweet? </h4>
            <a href="/get_sign_up"><h4>Sign up </h4></a>
          </div>
         
    </div>
</body>
</html>