<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Users</title>
</head>
<body class="container">
        <header>
            <div class="d-flex align-items-center">    
                <a class = 'users' href="/dashboard"><h4>Dojo Tweets</h4></a>
                <a class = 'users' href="/users"><h4>Users</h4></a>
            </div>
            <div class="right_corner d-flex align-items-center">
                <a href="/logout">Log out</a>
            </div>
        </header>
        <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Action</th>
               
                  </tr>
                </thead>
                <tbody>
                    {% for user in users: %}
                  <tr>
                    <td>{{user.fname}}</td>
                    <td>{{user.email}}</td>
                    {% if user.followed %}
                    <td><a href="/unfollow/{{user.id}}">Unfollow</a></td>
                    {% else:%}
                    <td><a href="/follow/{{user.id}}">Follow</a></td>
                    
                    {%endif%}
                   
                   
                  </tr>
                  {%endfor%}
                </tbody>
              </table>
</body>
</html>